@{
    ViewBag.Title = "Faturalarım";
}
<body>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Mutabakatcim</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("BaBsMY_View", "Reconciliation")">@Deneme.Resource.Reconciliation</a></li>
                            <li class="breadcrumb-item active">Excelden Mutabakat Oluştur</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <br />

            <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("Add_BaBsExcel", "BaBsReconciliation")')"><i class="fa fa-plus"></i> @Deneme.Resource.AddNew </a>
            <table id="BillTemplate" class="display nowrap table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th data-priority="1">@Deneme.Resource.ExcelName</th>
                        <th data-priority="2">@Deneme.Resource.Month</th>
                        <th data-priority="3">@Deneme.Resource.Year</th>
                        <th>@Deneme.Resource.TemplateName</th>
                        <th>@Deneme.Resource.ReconciliationType</th>
                        <th>@Deneme.Resource.TemplateCreationDate</th>
                        <th data-priority="4"></th>
                    </tr>
                </thead>
            </table>
            @section scripts{
                <script>
        var Popup, dataTable;
           $(document).ready(function () {
               dataTable = $("#BillTemplate").DataTable({
                   responsive: {
                       details: {
                           renderer: function (api, rowIdx, columns) {
                               var data = $.map(columns, function (col, i) {
                                   return col.hidden ?
                                       '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                       '<td>' + col.title + ':' + ' </td> ' +
                                       '<td>' + col.data + ' </td>' +
                                       '</tr>' :
                                       '';
                               }).join('');

                               return data ?
                                   $('<table/>').append(data) :
                                   false;
                           }
                       }
                   },
                "ajax": {
                    "url": "/BaBsReconciliation/BaBsExcel",
                    "type": "GET",
                    "datatype": "json",
                    "style":"margin-left:50px"
                },
                "columns": [
                    { "data": "ExcelAdı" },
                    { "data": "Ay" },
                    { "data": "Yıl" },
                    { "data": "ŞablonAdı" },
                    { "data": "FaturaTipi" },
                    { "data": "OluşturmaTarihi" },
                    { "data":"MutabakatBilgileriId" , "render" : function (data) {
                        return "<a class='btn btn-info btn-sm' onclick=Show(" + data +")><i class='fa fa-eye'></i> @Deneme.Resource.Show</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> @Deneme.Resource.Delete </a>";
                    },
                        "destroy": true,
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "info": "@Deneme.Resource.Info",
                    "infoEmpty": "@Deneme.Resource.InfoEmpty",
                    "infoFiltered": "@Deneme.Resource.InfoFiltered",
                    "lengthMenu": "@Deneme.Resource.LengthMenu",
                    "loadingRecords": "@Deneme.Resource.LoadingRecords",
                    "zeroRecords": "@Deneme.Resource.ZeroRecords",
                    "search": "@Deneme.Resource.Search",
                    "emptyTable": "@Deneme.Resource.EmptyTable1 <b>@Deneme.Resource.AddNew</b>  @Deneme.Resource.EmptyTable2",
                    "paginate": {

                        "next": "@Deneme.Resource.Next",
                        "previous": "@Deneme.Resource.Previous"
                    },
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    show: {
                        effect: "blind",
                        duration: 600
                    },
                    hide: {
                        effect: "blind",
                        duration: 600
                    },
                    globalPosition: 'absolute',
                    modal: true,
                    responsive: true,
                    autoOpen: true,
                    resizable: true,
                    title: '@Deneme.Resource.DialogBaBs',
                    height: 330,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                var progressbarLabel = $('#progressBar-label');
                var progressbarDiv = $('#progressbar');

                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            progressbarLabel.text('Complete');
                            progressbarDiv.fadeOut(2000);
                            Popup.dialog('close');

                            window.location.href = '/Reconciliation/BaBsMy_View/';
                            //dataTable.ajax.reload();

                            $.notify(response.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {

                            progressbarLabel.text('Complete');
                            progressbarDiv.fadeOut(1000);
                            $.notify(response.message, {

                                globalPosition: "top center",
                                className: "error"
                            })

                        }

                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
                progressbarLabel.text('@Deneme.Resource.Uploading');
                progressbarDiv.progressbar({
                    value: false
                }).fadeIn(500);
            }
            return false;
        }
        function Delete(id) {
            if(confirm('@Deneme.Resource.DeleteConfirmation'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete_BaBsExcel", "BaBsReconciliation")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })

                        }
                    }

                });
            }
        }
        function Show(id) {

            window.location.href = '/BaBsReconciliation/Show_BaBsExcel/' + id;
        }

                </script>
            }
       

</body>